*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:#EC063D ;
    padding: 10px;

}

.navbar img{
    height: 60px;
    width: 90px;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 5px;
}

.navbar li{
    color: white;
    padding: 7px;
}
.navbar li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.banner{
    height: 40vmax;
    background-size: cover;
    position: relative;
    display: flex;
    object-fit: cover;
}
.banner img{
    width: 100%;
}
.banner .tulisan {
    position: absolute;
    color: #fff;
    margin: 10%;
    font-size: 30px;
}
.banner .tulisan h3{
    line-height: 45px;
}
.banner .tulisan p{
    color: #fff;
    font-size: 15px;
}
.banner .tulisan button{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    padding: 5px;
    border-radius: 5px;
}